body{
	margin: 0;
	width: 100%;
	display: grid;
	place-content: center;
	place-items: center;
	font-family: Dancing;
	text-align: center;
}

@font-face{
	font-family: "Dancing";
	src: url('Fonts/DancingScript-Regular.ttf');
}

.Register{
	position: fixed;
	top: 15%;
	width: 24%;
	height: 320px;
	border-radius: 50px;
	background-color: white;
	transition: 0.4s;
	background-color: #2E3D35;
}

.Register h1{
	width: 100%;
	padding-top: 10px;
	color: white;
}

.Register input[type='email']{
	margin-top: 10px;
	text-align: center;
	border-radius: 15px;
	padding: 5px;
	width: 60%;
}



.Register input[type='password']{
	margin-top: 20px;
	width: 50%;
	text-align: center;
	border-radius: 15px;
	padding: 5px;
}



.Register input[type='submit']{
	margin-top: 90px;
	width:50%;
	border: 1px solid transparent;
	border-radius: 15px;
	padding: 5px;
	cursor: pointer;
}

.BackGet {
	position: absolute;
	top: 85%;
	width: 10%;
	transition: 0.4s;
	border-radius: 20px;
}

.BackGet button{
	font-weight: 500;
	color: white;
	background-color: #2E3D35;
	transition: 0.3s;
}

.BackGet:hover{
	transition: 0.3s;
	background-color: white;
	width: 8.4%;
	border-radius: 20px;
	background-color: #2E3D35;
}


.BOLITAS{
	background-color: white;
	border-radius: 60px;
	width: 50px;
	height: 50px;
	position: absolute;
	left: -1%;
	top: -1%;
	transform: translate(1240px, 350px);
}


.BackGet button{
	border-radius: 105px;
	padding: 8px 20px;
	cursor: pointer;
	border: 0px solid transparent;
}

@media (max-width:690px){
	.Register h1{
		font-size: 15px;
	}
	.Register{
		width: 60%;
	}
	.
}

